 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
 
.nav{
    display: flex;
    text-align: center; 
    flex-wrap: wrap;   
    justify-content: space-around; 
    position: relative;
   
   
 
}
.a{
    text-align: center;
    position:  absolute; 
    left: 650px;  
    border-bottom: 3px rgb(78, 228, 9) solid ;

}
.s,.d,.f,.g,.h,.j{
    background-color: rgb(221, 221, 221);
     
    width: 352px;
    height: 200px;
    margin: 200px 40px 0;  
     

   
    
    

     
     
    
    
    /* box-shadow: 1px 1px 3px rgb(226, 226, 226);
    border-radius: 30px; */

}
img{
    border-radius: 50px;
    margin-top:20px ;
}

